body{
  font-family: 'Courier Prime', monospace;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  height: 95vh;
  padding: 0px;
}

.landing, .login, .register, .user-screens{
  width: 100%;
  text-align: center;
}

.header{
  text-align: center;
}

.title{
  font-size: 22px;
}


.nav{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
}

.nav:focus > a > svg > path{
fill: blue;
}

.logout-container{
  text-align: right;
  margin: 10px;
}

.logout{
  border: none;
  background-color: white;
  color: #0082E3;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}
