body{
  font-family: 'Courier Prime', monospace;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  height: 70vh;
  padding: 30px;
}

.landing, .login, .register, .user-screens{
  width: 100%;
  text-align: center;
}

.header{
  text-align: center;
}

.nav{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.nav:focus > a > svg > path{
fill: blue;
}

.logout-container{
  text-align: right;
  margin: 10px;
}

.logout{

  text-align: right;
  color: blue;
}

a{
  text-decoration: none;
  color: black;
}
