.poem{
  width: 100%;
  margin: 10px 0px;
  text-align: left;
}

.poemHeader{
  text-align: right;
}

.poemHeader > p {
  margin: 0px 0px 5px 0px;
  color: grey;
}

.like{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.svg{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 15px 0px;
  overflow: visible;
}

.liked{
  fill: #b54c50;
  stroke: #b54c50;
  stroke-width: 2px;
}

.unliked{
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.button{
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 20px;
  height: 20px;
}

.count{
  margin: 0px;
}

.poemSnippet{
  width: 50%;
}

.poemLine{
  min-height: 15px;
  margin: 0px;
}
.social{
  text-align: right;
  margin: 10px;
}

.poemButtons{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0px;
}

.social > a >div {
  padding: 5px;
}