.authForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  border-radius: 30px;
  border: 1px solid grey;
  width: 250px;
  height: 30px;
  padding: 5px;
  text-align: center;
  background-image: url('../images/magnify-icon.svg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 3% 63%; 
}

.submit{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  color: #000000;
  font-family: Avenir Next;
  font-size: 18px;
  line-height: 25px;
  width: 178px;
  height: 54px;
  margin: 40px 0 30px 0;
  cursor: pointer;
}

